#!/usr/bin/env bash
./bin/report --week 26 --year 2019 > ~/team-stats--2019-q2--by-week.txt
./bin/report --week 27 --year 2019 >> ~/team-stats--2019-q2--by-week.txt
./bin/report --week 28 --year 2019 >> ~/team-stats--2019-q2--by-week.txt
./bin/report --week 29 --year 2019 >> ~/team-stats--2019-q2--by-week.txt
# ...